 html, body{
   overflow-x: hidden;
 }

.nav, .container, .footer {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }

.nav:before,
.nav:after,
.container:before,
.container:after,
.footer:before,
.footer:after{
   content: " ";
   display: table;
 }

.nav:after,
.container:after,
.footer:after {
   clear: both;
 }

button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.about-gallery > li:first-child {
    color: #93E1F7;
}

button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/** NAV **/
 .gallery:hover, .pricing:hover, .order:hover {
	color: #93E1F7;
}
.nav {
    width: 100%;
}

.nav .row {
    overflow: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.nav ul li a{
    font-size: 18px;
    font-family: "Avenir Next";
    color: #416c78;
    text-decoration: none;
}

.rolling-pin{
    transform: scale(1);  
    padding-left: 5%;
}

.about-gallery {
    float: left;
    width: 33.3333%;
}

.logo {
    float: left;
    width: 33.3333%;
}

.pricing-order {
    float: left;
    width: 33.3333%;
}

.nav ul {
    display: block;
    margin: 0 auto;
    padding-top: 50%;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
}

.about-gallery li:nth-child(2) {
    margin-left: 30%;
    margin-right: 15%;
}

.pricing-order li:first-child {
    margin-right: 30%;
    margin-left: 15%;
}

/**MEET THE OWNER**/
.container {
    overflow: auto;
}
.row {
    display: block;
    margin: 0 auto;
    width: 70%;
    overflow: auto;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-family: "Avenir Next";
    color: #416c78; 
    font-weight: 600;
}

.owner-image {
    float: left;
    display: block;
    margin: 0 auto;
    width: 40%;
}

.owner-image img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 50px;
    border-radius: 4px 4px; 
}

.bio {
    float: left;
    display: block;
    margin: 0 auto;
    width: 60%;
}

.bio p {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
    font-size: 15px;
    font-family: "Avenir Next";
    color: #416c78; 
    font-weight: 400;
}

.view {
    display: block;
    margin: 0 auto;
    width: 100%;
    clear: both;
    margin-bottom: 50px;
}

.view a {
  text-decoration: none;
}

button {
    display: block;
    width: 30%;
    height: 40px;
    font-size: 14px;
    background-color: #93E1F7;
    border-radius: 12px;
    border: none;
    text-align: center;
    vertical-align: middle;
    color: #416c78; 
    font-weight: 800;
    font-size: 15px;
    margin: 0 auto;
}


/**FOOTER**/

.footer { background-color: #ab6e81; 
    overflow: auto;
    width: 100%;
}

.footer a, .footer p {
  font-size: 12px;
  color: #FFFFFF;
  margin: 0 auto; }

.footer li {
  margin-left: 10px; }

.footer i:first-child {
  padding-left: 30px; }

.footer .fa {
  font-size: 20px;
  margin: 0 auto; }

.copyright, .social-media, .contact {
    width: 33.3333%;
    float: left;
}

.copyright p {
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    margin-left: 30%;
}
    
.social-media ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
    margin-left: 7%;
}

.contact p {
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    margin-right: 10%;
}

