 html, body{
   overflow-x: hidden;
 }

.nav, .container, .footer {
   margin-right: auto;
   margin-left: auto;
   position: relative;
 }

.nav:before,
.nav:after,
.container:before,
.container:after,
.footer:before,
.footer:after{
   content: " ";
   display: table;
 }

.nav:after,
.container:after,
.footer:after {
   clear: both;
 }

.gallery {
    display: none;
}

/** NAV **/
.about:hover, .pricing:hover, .order:hover {
	color: #93E1F7; 
}

.nav {
    width: 100%;
}

.nav .row {
    overflow: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.nav ul li a{
    font-size: 18px;
    font-family: "Avenir Next";
    color: #416c78;
    text-decoration: none;
}

.about-gallery {
    float: left;
    width: 33.3333%;
}

.rolling-pin{
    transform: scale(1); 
    float: right;
    margin-right: 7%;
}

.logo {
    float: left;
    width: 33.3333%;
}

.pricing-order {
    float: left;
    width: 33.3333%;
}

.nav ul {
    display: block;
    margin: 0 auto;
    padding-top: 50%;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
}

.about-gallery li:first-child {
    margin-right: 40%;
}

.pricing-order li:nth-child(2) {
    margin-left: 40%;
}

/**GALLERY**/

.container p {
    color: black;
    font-size: 34px;
    font-family: Avenir Next;
    text-align: center;
    margin-top: 25%;
}
.container .row {
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 60px;
}

/**overlay {
    background-color: black;
    opacity: .70;
    moz-opacity: 0.7;
    filter: alpha(opacity-70);
    width:100%;
    height: 100%;
    z-index:90;
    display: block;
    margin: 0 auto;
}

.close {
    cursor: pointer;
    color: white;
    float: right;
    margin-right: 10px;
    margin-top: -495px
}
**/

#cupcake-photo {
    float: left;
    width: 390px;
    height: 240px;
    background-image: url('/images/gallery/Cupcakes/pink_birds.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 10px;
}

#cake-photo {
    float: left;
    width: 390px;
    height: 240px;
    background-image: url('/images/gallery/Cakes/roses_two_white.png');
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 10px;
}

#other-photo {
    float: left;
    width: 390px;
    height: 240px;
    background-image: url('/images/gallery/Other_Sweets/FullSizeRender%20(1).jpg');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 10px;
}


#cakepop-photo {
    width: 390px;
    height: 240px;
    background-image: url('/images/gallery/Cakepops/dots_stripes_white.JPG');
    background-size: 175%;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    border: 5px solid white;
    border-radius: 10px;
}

.close {
    text-align: right;
    padding-right: 80px;
}


#modal{
	width:100%;
	height:600px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    background: none;
    display: block;
    margin: 0 auto;
/**from mentormarch5**/
    background: none;
    display: block;
    margin: 0 auto;
}


/**FOOTER**/

.footer .row {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.footer { background-color: #ab6e81; 
    overflow: auto;
    width: 100%;
}

.footer a, .footer p {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0 auto;
    text-decoration: none;
}

.footer i:first-child {
    padding-left: 20px;
    padding-right: 10px;
}


.footer .fa {
    font-size: 20px;
    margin: 0 auto; 
    display: block;
    text-decoration: none;
    
}

.copyright, .social-media, .contact {
    width: 33.3333%;
    float: left;
}

.copyright p {
    vertical-align: middle;
    line-height: 50px;
    text-align: left;
}
    
.social-media ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.contact p {
    vertical-align: middle;
    line-height: 50px;
    text-align: right;
}


/** MEDIA QUERIES**/
@media (min-width: 400px) and (max-width:590px) {
    .nav, .footer, .container { width: 100%; }
    
    .about-gallery, .pricing-order { 
        width: 0%;
        display: none;
    }
    
    .logo { width: 100%; }
    
    .logo img { 
        width: 60%;
        margin-left: 20%;
    }
    
    #cupcake-photo, #cake-photo, #cakepop-photo, #other-photo { 
        width: 90%;
        display: block;
        margin: 0 auto;
        float: none;
    }
    
    .container .row {
        width: 100%;
        height: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }   
     
    .copyright, .social-media, .contact {
        width: 100%;
        float: left;
    }
     
    .contact p, .copyright p {
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
    }
     
    .footer ul {
         display: block;
         margin: 0 auto;
         text-align: center;
    }
     
    .footer i:first-child {
        padding-left: 0px;
        padding-right: 30px;
    }   
}


@media (min-width: 590px) and (max-width:749px) {
    .nav, .footer, .container { width: 100%; }
    
    .about-gallery, .pricing-order { 
        width: 0%;
        display: none;
    }
    
    .logo { width: 100%; }
    
    .logo img { 
        width: 50%;
        margin-left: 25%;
    }
    
    #cupcake-photo, #cake-photo, #cakepop-photo, #other-photo { 
        width: 75%;
        height: 300px;
        display: block;
        margin: 0 auto;
        float: none;
    }
    
    .container .row {
        width: 100%;
        height: 500px;
        display: block;
        margin: 0 auto;
        margin-bottom: 60px;
    }
     
    .copyright, .social-media, .contact {
        width: 100%;
        float: left;
     }
     
     .contact p, .copyright p {
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
    }
     
     .footer ul {
         display: block;
         margin: 0 auto;
         text-align: center;
     }
     
     .footer i:first-child {
        padding-left: 10px;
        padding-right: 50px;
     }   
}
    
@media (min-width: 750px) and (max-width:970px) {
    .nav, .footer. .container { width: 100%; }
    
    .about-gallery { width: 40%; }

    .pricing-order { width: 40%; }
    
    .logo { width: 20%; }
    
    .logo img { 
        width: 100%;
        padding-top: 50px;
        padding-left: 5px;
    }
     
    .about-gallery li:first-child { margin-right: 15%; }

    .pricing-order li:nth-child(2) { margin-left: 15%; }
    
    .about-gallery, .pricing-order { padding-bottom: 20px; }
     
    #cupcake-photo, #cake-photo, #cakepop-photo, #other-photo { 
        width: 75%;
        height: 75%;
        display: block;
        margin: 0 auto;
        margin-left: 10%;
        overflow: auto;
        clear: both;
    }
    
    .copyright, .social-media, .contact {
        width: 100%;
        float: left;
     }
     
     .contact p, .copyright p {
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
    }
     
     .footer ul {
         display: block;
         margin: 0 auto;
         text-align: center;
     }
     
     .footer i:first-child {
        padding-left: 10px;
        padding-right: 50px;
     }   
}

@media (min-width: 750px) and (max-width:800px) {
    .rolling-pin img { 
        width: 70%; 
        margin-left: 30px; }
}

@media (min-width: 800px) and (max-width:849px) {
    .rolling-pin img { 
        width: 70%; 
        margin-right: 5px; }
}

@media (min-width: 850px) and (max-width:899px) {
    .rolling-pin img { 
        width: 70%; 
        margin-right: 20px; }
}

@media (min-width: 900px) and (max-width:969px) {
    .rolling-pin img { 
        width: 70%; 
        margin-right: 35px; }
}

@media (min-width: 970px) and (max-width:971px) {
    .rolling-pin img { 
         margin-right: 40px;
         width: 70%;
     }
}

@media (min-width: 971px) and (max-width:1039px) {
    .rolling-pin img { 
         margin-right: 50%;
         width: 80%;
     }
}

 @media (min-width: 970px) and (max-width: 1039px) {
     .nav,.footer, .container { width: 100%; }
     
     .about-gallery li:first-child { margin-right: 20%; }

     .pricing-order li:nth-child(2) { margin-left: 20%; }
     
     .copyright, .social-media, .contact {
        width: 100%;
        float: left;
     }
     
     .contact p, .copyright p {
        vertical-align: middle;
        line-height: 50px;
        text-align: center;
    }
     
     .footer ul {
         display: block;
         margin: 0 auto;
         text-align: center;
     }
     
     .footer i:first-child {
        padding-left: 10px;
        padding-right: 50px;
     }
}

 @media (min-width: 1040px) and (max-width: 1200px) {
     .nav,.footer { width: 100%; }
     
     .about-gallery li:first-child { margin-right: 30%; }

     .pricing-order li:nth-child(2) { margin-left: 30%; }
}

@media (min-width: 1100px) and (max-width: 1150px) {
    .rolling-pin img { 
        width: 80%; 
        margin-left: 15px; }
}

@media (min-width: 1151px) and (max-width: 1200px) {
    .rolling-pin img { margin-right: 15px; }
}

