
/** NAV **/
.about:hover, .gallery:hover, .pricing:hover, .order:hover {
	color: #93E1F7;
    font-size: 150%;
}

.logo:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.nav {
    width: 100%;
}

.nav .row {
    overflow: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.nav ul li a{
    font-size: 18px;
    font-family: "Avenir Next";
    color: #416c78;
    text-decoration: none;
}

.about-gallery {
    float: left;
    width: 33.3333%;
}

.rolling-pin{
    transform: scale(.9); 
    float: right;
    margin-right: 14%
}

.rolling-pin:hover{
    transform: scale(1); 
}

.logo {
    float: left;
    width: 33.3333%;
}

.pricing-order {
    float: left;
    width: 33.3333%;
}

.nav ul {
    display: block;
    margin: 0 auto;
    padding-top: 50%;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
}

.about-gallery li:nth-child(2) {
    margin-left: 30%;
    margin-right: 15%;
}

.pricing-order li:first-child {
    margin-right: 30%;
    margin-left: 15%;
}


/**GALLERY**/

.gallery p {
    color: ghostwhite;
    font-size: 34px;
    font-family: Avenir Next;
    text-align: center;
    margin-top: 25%;
}
.gallery .row {
    width: 800px;
    height: 500px;
    display: block;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 60px;
}

#cupcake-photo {
    float: left;
    width: 400px;
    height: 250px;
    background-color: #93E1F7;
}

#cupcake-photo:hover {
    content: url("/images/gallery/Cupcakes/pink_birds.png"); 
    display: block;
}

#cake-photo {
    float: left;
    width: 400px;
    height: 250px;
    background-color: palegoldenrod;
}

#cake-photo:hover {
    content: url("/images/gallery/Cakes/minnie_two_pink.jpg"); 
    width: 50%;
    display: block;
    margin: 0 auto;
}

#other-photo {
    float: left;
    width: 400px;
    height: 250px;
    background-color: #ab6e81;
}

#other-photo:hover {
    content: url("/images/gallery/Other_Sweets/FullSizeRender%20(1).jpg"); 
    width: 50%;
    display: block;
    margin: 0 auto;
}


#cakepop-photo {
    width: 400px;
    height: 250px;
    background-color: #416c78;
    float: left;
}

#cakepop-photo:hover {
    content: url("/images/gallery/Cakepops/dots_stripes_white.JPG"); 
    display: block;
    margin: 0 auto;
}

#modal{
	width:100%;
	height:600px;
	padding:20px;
	border:1px solid gray;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    background: none;
    display: block;
    margin: 0 auto;
}


/**FOOTER**/

.footer { background-color: #ab6e81; 
    overflow: auto;
    width: 100%;
}

.footer a, .footer p {
  font-size: 12px;
  color: #FFFFFF;
  margin: 0 auto; }

.footer li {
  margin-left: 10px; }

.footer i:first-child {
  padding-left: 30px; }

.footer .fa {
  font-size: 20px;
  margin: 0 auto; }

.copyright, .social-media, .contact {
    width: 33.3333%;
    float: left;
}

.copyright p {
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    margin-left: 30%;
}
    
.social-media ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
    margin-left: 7%;
}

.contact p {
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    margin-right: 10%;
}

