.container{
	width:70%;
	height:600px;
	padding:20px;
	box-sizing:border-box;
  background: none;
    display: block;
    margin: 0 auto;
}
.image-slider-wrapper{
	overflow: hidden;
}
#image_slider{
	position: relative;
	overflow: hidden;
	height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
}

.container img{
    width: 75%;
    height: 75%;
}