 html, body{
   overflow-x: hidden;
 }

.nav, .container, .row, .custom, .what-to-order, .submit, .footer {
   margin-right: auto;
   margin-left: auto;
   position: relative;
 }

.nav:before,
.nav:after,
.row:before,
.row:after,
.container:before,
.container:after,
.custom:before,
.custom:after,
.what-ro-order:before,
.what-ro-order:after,
.submit:before,
.submit:after,
.footer:before,
.footer:after{
   content: " ";
   display: table;
 }

.custom,
.what-to-order,
.submit,
.row:after,
.nav:after,
.container:after,
.footer:after {
   clear: both;
 }

/** NAV **/

.about:hover, .gallery:hover, .pricing:hover {
	color: #93E1F7;
}

.nav {
    width: 100%;
}

.nav .row {
    overflow: auto;
    width: 70%;
    display: block;
    margin: 0 auto;
}

.nav ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.nav ul li a{
    font-size: 18px;
    font-family: "Avenir Next";
    color: #416c78;
    text-decoration: none;
}

.about-gallery {
    float: left;
    width: 33.3333%;
}

.logo {
    float: left;
    width: 33.3333%;
}

.pricing-order {
    float: left;
    width: 33.3333%;
}

.rolling-pin{
    transform: scale(1); 
    float: right;
    margin-right: 17px;
}

.nav ul {
    display: block;
    margin: 0 auto;
    padding-top: 50%;
}

.logo img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-height: auto;
}

.about-gallery li:first-child {
    margin-right: 40%;
}

.pricing-order li:nth-child(2) {
    margin-left: 40%;
}



/**CONTACT FORM**/
.container .row {
    width: 65%;
    display: block;
    margin: 0 auto;
    overflow: auto;
}

.container .contact {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 40px;
}

.contact input[type="text"]{
    font-size: 15px;
    margin: 5px 0;
}

.contact form {
    font-family: Avenir Next;
    font-size: 15px;
    color: #416c78;
    width: 50%;
}

.contact input {
    width: 180%;
    height: 25px;
    border-radius: 4px;
}

.contact .right {
    margin-left: 35px;
}

.contact .first {
    float: left;
    width: 50%;;
    display: block;
    margin: 0 auto; 
    padding-top: 10px;
}

.contact .last {
    float: left;
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

/**ORDER**/

input[type=radio] + label {
  color: #416c78;
  font-family: Avenir Next;
}


h3 {
    font-family: Avenir Next;
    font-size: 18px;
    color: #416c78;
    padding-top: 20px;
}
    


/**WHAT TO ORDER**/
.what-to-order {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
    overflow: auto;
    clear: both;
    background: pink;
}

.what-to-order h3 {
    text-align: center;
}

.what-to-order form {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-left: 100px;
    margin-bottom: 50px;
}

.container ul {
    display: block;
    margin: 0 auto;
    /**padding-top: 50%;**/
}

.container li {
    display: inline-block;
    list-style-type: none;
    clear:both;
    font-size: 14px;
    font-family: Avenir Next;
    color: #416c78;
    margin: 0 auto;
}

.container li:first-child {
    margin-left: 170px;
}

.container li:nth-child(2) {
    margin-left: 120px;
}

.container li:nth-child(3) {
    margin-left: 110px;
}

.what-to-order input {
    display: inline-block;
    width: 5%;
}

.custom {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: 540px;
    overflow: auto;
    background: pink;
}

.padding {
    width: 33.3333%;
    height: 600px;
    display: block;
    margin: 0 auto;
    float: left;
}

.custom form {
    display: table-cell;
}

.custom h4 {
    font-size: 15px;
    font-family: Avenir Next;
    color: #416c78;
}

.custom p {
    font-size: 14px;
    font-family: Avenir Next;
    color: #416c78;
    text-align: left;
}

.custom p, .custom h4, .custom form, .custom input[type="radio"] {
    padding-left: 15px;
    text-indent: 15px;
}

select {
    width: 210px;
    font-size: 15px;
    height: 30px;
    border-color: black;
    color: palevioletred;
    line-height: normal;
}

/** DESIGN**/

.design {
    width: 100%;
    display: block;
    margin: 0 auto;
    background: pink;
    padding-left: 2.5%;
}

.design input {
    float: left;
    clear: left;
    margin-left: 15px;
}

.design label {
    float: left;
    line-height: 30px;
}   

textarea {
    display: block;
    margin: 0 auto;
    width: 200px;
}

.flavor {
    width: 100%;
    display: block;
    margin: 0 auto;
    background: pink;
}

.flavor label {
    line-height: 25px;
}
.date {
    width: 100%;
    display: block;
    margin: 0 auto;
    background: pink;
}

.submit {
    width: 70%;
    display: block;
    margin: 0 auto;
    clear: both;
    overflow: auto;
}

button {
    width: 30%;
    display: block;
    height: 40px;
    font-size: 14px;
    background-color: #93E1F7;
    border-radius: 12px;
    border: none;
    text-align: center;
    vertical-align: middle;
    color: #416c78; 
    font-weight: 800;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}



.flavor input[type="radio"]{
    display: inline;
    width: auto;
}

button:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


/**FOOTER**/

.footer .row {
    width: 70%;
    display: block;
    margin: 0 auto;
}
.footer { background-color: #ab6e81; 
    overflow: auto;
    width: 100%;
}

.footer a, .footer p {
    font-size: 12px;
    color: #FFFFFF;
    margin: 0 auto;
    text-decoration: none;
}

.footer i:first-child {
    padding-left: 20px;
    padding-right: 10px;
}


.footer .fa {
    font-size: 20px;
    margin: 0 auto; 
    display: block;
    text-decoration: none;
    
}

.copyright, .social-media, .contact {
    width: 33.3333%;
    float: left;
}

.copyright p {
    vertical-align: middle;
    line-height: 50px;
    text-align: left;
}
    
.social-media ul li {
    display: inline-block;
    list-style-type: none;
    clear:both;
}

.contact p {
    vertical-align: middle;
    line-height: 50px;
    text-align: right;
}

